<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA88D5byL9_Xwvw4eA8LjHU6ry-aPKZX5k</string>
	<key>GCM_SENDER_ID</key>
	<string>942225595479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duochat</string>
	<key>PROJECT_ID</key>
	<string>duochat-ce5f6</string>
	<key>STORAGE_BUCKET</key>
	<string>duochat-ce5f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942225595479:ios:4aad1346e88a47b37b9712</string>
</dict>
</plist>